---
- name: Install VirtualBox guest additions
  become: true
  community.general.pacman:
    name: 
      - linux-headers
      - virtualbox-guest-utils
      - rofi
      - picom
    state: present

- name: Enable Guest additions
  become: true
  systemd_service:
    name: vboxservice.service
    enabled: true

- name: copy .Xresources
  copy:
    src: ".Xresources"
    dest: "{{ ansible_user_dir }}/.Xresources"
    force: yes
    
- name: copy .xinitrc
  copy:
    src: ".xinitrc"
    dest: "{{ ansible_user_dir }}/.xinitrc"
    force: yes
    
- name: create i3 config directory
  file:
    path: "{{ ansible_user_dir }}/.config/i3"
    state: directory

- name: copy i3 config
  copy:
    src: "i3-config"
    dest: "{{ ansible_user_dir }}/.config/i3/config"
    force: yes

- name: create rofi config directory
  file:
    path: "{{ ansible_user_dir }}/.config/rofi"
    state: directory

- name: copy rofi config
  copy:
    src: "config.rasi"
    dest: "{{ ansible_user_dir }}/.config/rofi/config.rasi"
    force: yes

- name: copy rofi theme
  copy:
    src: "theme.rasi"
    dest: "{{ ansible_user_dir }}/.config/rofi/theme.rasi"
    force: yes

- name: Copy wallpaper image
  copy:
    src: "wallpaper.jpeg"
    dest: "{{ ansible_user_dir }}/.config/wallpaper.jpeg"
    force: yes
